/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fef9ec;
}



/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    box-shadow: 0 0 20px 0 rgba(69, 80, 115, 0.1);
    backdrop-filter: blur(100px);
    height: 5rem;
    padding: 0 3rem;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 600px; /* Set a fixed width */
    
}

.navbar-brand img {
    height: 75px;
    width: auto;
    cursor: pointer;
    margin-right: 1rem;
}

#main_nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;

}

.navbar-nav li {
    padding: 0 1.25rem;
    margin: auto;
}

.navbar-nav li a {
    color: #001c49;
    font-size: 1.25rem;
}

.navbar-nav li:hover {
    text-decoration: underline;
    text-decoration-color: #001c49;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-nav li:visited {
    border-radius: 50px;
}

.hamburger {
    display: none;
}


.about-first-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.why-choose-kingsfeast {
}

.why-choose-kingsfeast h1 {
    font-size: 6.5rem;
    font-weight: 700;
    color: #001c49;
    margin-bottom: 1rem;
}

.why-choose-kingsfeast p {
    font-size: 1.75rem;
    color: #001c49;
    margin-bottom: 1rem;
}

.about-second-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.about-second-container div {
}

.vision-and-mission h1 {
    font-size: 6.5rem;
    font-weight: 700;
    color: #001c49;
    margin-bottom: 1rem;
}

.vision-and-mission p {
    font-size: 1.75rem;
    color: #001c49;
    margin-bottom: 1rem;
    /* text-align: left; */
}


.retailers-about {
    height: 100vh;
    width: 100%;
    padding: 2rem 10rem;
}
.retailers-about h1{
    font-size: 5.25rem;
    font-weight: 700;
    color: #001c49;
    margin-bottom: 1rem;
    text-align: left;
}
.retailers-about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.retailers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex: 3;
}
.retailers img {
    height: auto;
    width: 270px;
    max-width: 80%;
    border-radius: 20px;
}
.retailer-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.25rem;
}
.short-description{
    flex: 2;
}
.short-description p{
    font-size: 1.25rem;
    color: #001c49;
    line-height: 1.6;
}


.team-and-founders{
    height: 100vh;
    width: 100%;
    padding: 0rem 10rem;
    color: #001c49;
}
.team-and-founders h1{
    font-size: 5.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
}
.team-and-founders-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team-and-founders-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-and-founders-container img {
    height: auto;
    width: 270px;
    max-width: 80%;
    border-radius: 20px;
}
.team-and-founders-container img:hover {
    transform: translateY(-5px);
}



/*Footer Section*/
footer {
    background-color: #001c49;
    color: white;
    border-radius: 15px 15px 0 0;
}

.footer-container {
    padding: 2rem 10rem 2rem 10rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.f-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
}

.footer-links, .footer-contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.footer-links a, .footer-contacts a {
    color: #01bbd5;
}

.social-links a img:hover {
    transform: scale(1.1);
}

.copyright-container {
    background-color: #001c49;
    padding: 0rem 10rem;
    color: white;

}

.copyright {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}
.copyright .shotout{
    font-size: 12px;
}
.copyright .shotout a{
    text-decoration: none;
    color: #fef9ec;
    text-decoration: underline;
}









/* Media Queries */


@media (max-width: 992px) {
    /*Header*/
    header {
        border: none;
        box-shadow: 0 0 20px 0 rgba(69, 80, 115, 0.1);
        backdrop-filter: blur(100px);
        border-bottom: 1px solid white;
        width: 100%;
    }

    .container {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .navbar {
        border: none;
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .navbar-brand img {
        height: auto;
        width: 100%;
        max-width: 80px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1002;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        border-radius: 50px;
    }

    #main_nav.active {
        height: 80vh;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        /* background-color: #e9dfcdeb; */
        background-color: #e9dfcdf8;
        transition: 0.5s;
        overflow: hidden;
        z-index: 1001;
    }

    #main_nav ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    #main_nav.active ul {
        opacity: 1;
    }

    #main_nav ul li a {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .about-first-container, .about-second-container, .retailers-about, .team-and-founders {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        padding: 2rem 2rem;
    }
    .why-choose-kingsfeast{
        margin-top: 5rem;
    }
    .why-choose-kingsfeast h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .why-choose-kingsfeast p{
        font-size: 1.25rem;
        line-height: 1.6;
    }

    .vision-and-mission h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .vision-and-mission p{
        font-size: 1.25rem;
        line-height: 1.6;
    }


    .retailers-about-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem 0 1rem 0;
    }
    .retailers-about h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .short-description p{
        font-size: 1.25rem;
        line-height: 1.6;
    }


    .team-and-founders h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .team-member p{
        font-size: 1.25rem;
        line-height: 1.6;
        color: #001c49;
    }
    .team-and-founders-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team-and-founders-container div{
        margin: 1rem 0;
    }
    .team-and-founders-container img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }



    .f-top{
        gap: 3rem;
    }
    .footer-container{
        padding: 2rem 2rem;
        gap: 2.5rem;
    }
    .copyright-container{
        padding: 0rem 2rem;
    }
    .copyright{
        padding: 1rem 0;
        flex-direction: column;
        gap: 1rem;
    }   
}


