/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Esteban", serif;
    /* font-family: "Oleo Script", serif; */

  font-weight: 400;
  font-style: normal;
    background-color: #fef9ec;
}



header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container{
    /* max-width: ; */
    width: 100%;
    margin: 0 auto 0 auto;
    /* padding: 1rem 0; */
}
.navbar{
    /* background: ; */
    box-shadow: 0 0 20px 0 rgba(69, 80, 115,0.1);
    backdrop-filter: blur(100px);
    margin: 1rem 28rem 0 28rem;
    height: 5rem;
    padding: 0 2rem;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.navbar:hover{
    /* background: ; */
}
.navbar-brand img{
    height: auto;
    max-width:50%;
    cursor: pointer;
}
#main_nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.navbar-nav{
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    
}
.navbar-nav li{
    padding: 0 1.25rem;
    margin: auto;
}
.navbar-nav li a{
    color: #001c49;
    font-size: 1.25rem;
}
.navbar-nav li:hover{
    /* border: 1px solid red; */
    /* border-radius: 50px;  */
    text-decoration: underline;
    text-decoration-color: #001c49;
    cursor: pointer;
    /* transition: 0.3s; */
    /* padding: 0.625rem 1.56rem; */
}
.navbar-nav li:visited{
    border: 1px solid red;
    border-radius: 50px; 
    /* transition: 0.3s; */
    /* padding: 0.625rem 1.56rem; */
}

.hamburger{
    display: none;
}


/* For the mobile view, we will hide the header and display the hamburger menu. We will also hide the ul and display it when the hamburger menu is clicked. */
@media only screen and (max-width:900px){
    header{
        border: none;
        background-color: #e9dfcdeb;
    }
    .navbar{
        border: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        border-radius: 50px;
    }
    #main_nav{
        /* height: 0px; */
        /* position: absolute; */
        /* top: 80px; */
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #e9dfcdeb;
        transition: 0.5s;
        /* overflow: hidden; */
    }
    #main_nav.active{
        height: 100vh;
    }
    #main_nav ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    #main_nav.active ul{
        opacity: 1;
    }
    #main_nav ul li a{
        margin: 20px 0;
    }
}






footer{
    background-color: #001c49;
    color: white;
}
.footer-container{
    padding: 2rem 10rem 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.footer-container .footer-links{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.copyright-container{
    background-color: #001c49;
    padding: 0rem 10rem;
    color: white;

}
.copyright{
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}