/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    /* font-family: "Esteban", serif; */
    /* font-family: "Oleo Script", serif; */
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fef9ec;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    box-shadow: 0 0 20px 0 rgba(69, 80, 115, 0.1);
    backdrop-filter: blur(100px);
    height: 5rem;
    padding: 0 3rem;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 600px; /* Set a fixed width */
    
}

.navbar-brand img {
    height: 75px;
    width: auto;
    cursor: pointer;
    margin-right: 1rem;
}

#main_nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;

}

.navbar-nav li {
    padding: 0 1.25rem;
    margin: auto;
}

.navbar-nav li a {
    color: #001c49;
    font-size: 1.25rem;
}

.navbar-nav li:hover {
    text-decoration: underline;
    text-decoration-color: #001c49;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-nav li:visited {
    border-radius: 50px;
}

.hamburger {
    display: none;
}





.products {
    width: 100%;
    padding: 2rem 10rem;
    color: #001c49;
    margin-bottom: 6rem;
}


.product-headline{
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: 4rem 0;
}
.product-headline h1{
    font-size: 5rem;
}


.products-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.product{
    border: 3px solid white;
    border-radius: 20px;
    padding: 0 2rem;
    gap : 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
    height: 80vh;
    width: 100%;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 20px 0 rgba(69, 80, 115, 0.1);
    transition: transform 0.3s ease;
}
.product-cta{
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-cta .product-image{
    height: auto;
    width: 300px;
    max-width: 100%;
}
.product-cta .product-image:hover{
    transform: translateY(-5px);
}

.product-cta button {
    margin-top: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 23px;
    background-color: #001c49;
    color: white;
    font-size: 1.25rem;
    border: 1px solid black;
    cursor: pointer;
    width: 25rem;
    height: 4.1rem;
}

.product-cta button span {
    /* For the arrow icon */
    margin-top: 3px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.product-cta button:hover span {
    transform: translateX(5px);
    /* Move arrow Xpx to the right on hover */
}

.product h3{
    font-weight: 600;
    font-size: 5rem;
}
.product p{
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: normal;
}
.product-description{
    display: flex;
    flex: 4;
    flex-direction: column;
}



/*Footer Section*/
footer {
    background-color: #001c49;
    color: white;
    border-radius: 15px 15px 0 0;
}

.footer-container {
    padding: 2rem 10rem 2rem 10rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.f-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
}

.footer-links, .footer-contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.footer-links a, .footer-contacts a {
    color: #01bbd5;
}

.social-links a img:hover {
    transform: scale(1.1);
}

.copyright-container {
    background-color: #001c49;
    padding: 0rem 10rem;
    color: white;

}

.copyright {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}
.copyright .shotout{
    font-size: 12px;
}
.copyright .shotout a{
    text-decoration: none;
    color: #fef9ec;
    text-decoration: underline;
}





/*Desktop*/
@media (max-width: 992px) {
    /*Header*/
    header {
        border: none;
        box-shadow: 0 0 20px 0 rgba(69, 80, 115, 0.1);
        backdrop-filter: blur(100px);
        border-bottom: 1px solid white;
        width: 100%;
    }

    .container {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .navbar {
        border: none;
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .navbar-brand img {
        height: auto;
        width: 100%;
        max-width: 80px;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1002;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        border-radius: 50px;
    }

    #main_nav.active {
        height: 80vh;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        background-color: #e9dfcdeb;
        transition: 0.5s;
        overflow: hidden;
        z-index: 1001;
    }

    #main_nav ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    #main_nav.active ul {
        opacity: 1;
    }

    #main_nav ul li a {
        margin: 20px 0;
    }
}


@media only screen and (max-width: 768px) {
    .products {
        padding: 2rem 2rem;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .product-headline h1{
        font-size: 5rem;
        line-height: 5.15rem;
    }
    .product-headline p{
        margin-top: 18px;
        font-size: 2.5rem;
        line-height: 2.65rem;
    }

    .product{
        padding: 1rem 2rem;
        height: auto;
        flex-direction: column;
    }
    .product-image{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .product-cta button {
        margin-top: 1.75rem;
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }
    .product-description h3{
        font-size: 4rem;
        line-height: 4rem;
    }
    .product-description p{
        margin: 10px 0;
    }


    .f-top{
        gap: 3rem;
    }
    .footer-container{
        padding: 2rem 2rem;
        gap: 2.5rem;
    }
    .copyright-container{
        padding: 0rem 2rem;
    }
    .copyright{
        padding: 1rem 0;
        flex-direction: column;
        gap: 1rem;
    }
}